		<div id="meusCondominios" class="container-fluid">
			<g:render template="/condominio/meusCondominios"></g:render>
		</div>
		
		<div id="meusConvites" class="container-fluid bg-grey">
			${convite.buscarConvitesPendentesList([params: params])}
		</div>