.jumbotron {
/*     background-color: #f4511e; Orange */
/*     color: #ffffff; */
	margin-bottom: 0;
}

#login, #denied {    
    padding-top: 100px;
}


.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo {
    font-size: 200px;
}

.page-foot .jumbotron {
	margin-bottom: 0;	
}

a.skip {
	position: absolute;
	left: -9999px;
}

.datepicker-day select {
/* 	display: block; */
/*     width: 100%; */
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* PAGINATION */

.pagination, .paginateButtons {
	border-top: 0;
	margin: 0;
	text-align: center;
}

.pagination a,
.pagination .currentStep,
.paginateButtons a,
.paginateButtons .currentStep {
	color: #337ab7;
	display: inline-block;
	margin: 0 0.1em;
	padding: 6px 12px;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.pagination a:focus,
.pagination .currentStep,
.paginateButtons a:focus,
.paginateButtons .currentStep{
	background-color: #337ab7;
	color: #FFFFFF;
	outline: none;
}

.pagination a:hover,
.paginateButtons a:hover {
	background-color: #eee;	
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep,
.no-borderradius .paginateButtons a:hover, .no-borderradius .paginateButtons a:focus,
.no-borderradius .paginateButtons .currentStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* PAGINATION */

.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

.property-label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

.property-value {
	display: block;
	padding-bottom: 30px;
}

.cor1 {
	color: #FF0000;
	width: 50px;
}

.cor2 {
	color: #00FF00;
	width: 50px;
}

.cor3 {
	color: #0000FF;
	width: 50px;
}

.cor4 {
	color: #FFFF00;
	width: 50px;
}

.cor5 {
	color: #FF00FF;
	width: 50px;
}

.login-header{
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #CCC;
}

.page-head .jumbotron {
	padding-top: 98px;
}

.page-foot .jumbotron {
	padding-top: 5px;
	padding-bottom: 5px;
}

.page-foot .jumbotron p {
	margin: 0;
}

/* .form-group { */
/* 	margin-left: 40px;	 */
/* } */

/* #contato .form-group, #list-condominio .form-group { */
/* 	margin-left: 0;	 */
/* }  */

.imagem-miniatura{
	max-width: 100%;
	max-height: 100%;
	border: 1px solid #CCCCCC;
	padding: 5px;	
	margin: 5px;
}

/** calendar **/

.fc-indisponivel {
	background-color: #FFE4E1;
 	cursor: no-drop !important;
 	font-style: italic !important;
	color: #BBB !important;
	border: 1px solid #DDD;	
}

.fc-selected {
	background-color: #d8f0ff !important;	
}

.fc-past, .fc-widget-content .fc-past {
	background-color: #EEE;
 	cursor: no-drop !important;
 	font-style: italic;
	color: #BBB;
	border: 1px solid #DDD;	
}

.fc-today, .fc-future {
	cursor: pointer;	
}

.fc-row .fc-content-skeleton {
    padding-bottom: 0 !important;
}

#calendar table {
	margin-bottom: 0;
}

#calendar tr>td:first-child, #calendar tr>th:first-child {
	padding-left: 0;
}

#calendar tr>td:last-child, #calendar tr>th:last-child {
	padding-right: 0;
}

.fc-day-number {
	padding-right: 5px !important;
}

.fc-event {
	cursor: pointer;
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.37);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.37);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.37);
/* 	border: 1px solid #ccc !important; */
	border-width: 2px !important;
	padding: 5px !important;
	background-color: #EEE !important;
	color: #000 !important;
}

.fc-past-event {
	background-color: #ddd !important;	
/* 	border: 1px solid #ccc !important; */
	border-width: 2px !important;
	padding: 5px !important;
	color: #999	!important;
}

/** calendar **/

.breadcrumb{
	margin-bottom: -40px;    
    margin-top: 90px;
    margin-left: 5px;
    margin-right: 5px;
}