
<%@ page import="br.com.reservas.Convidado" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'convidado.label', default: 'Convidado')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-convidado" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-convidado" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="alert alert-info"><i class="glyphicon glyphicon-alert"></i> ${flash.message}</div>
			</g:if>
			<table>
				<thead>
					<tr>
					
						<g:sortableColumn property="nome" title="${message(code: 'convidado.nome.label', default: 'Nome')}" />
					
						<g:sortableColumn property="cpf" title="${message(code: 'convidado.cpf.label', default: 'Cpf')}" />
					
						<g:sortableColumn property="email" title="${message(code: 'convidado.email.label', default: 'Email')}" />
					
						<th><g:message code="convidado.reserva.label" default="Reserva" /></th>
					
						<g:sortableColumn property="telefone" title="${message(code: 'convidado.telefone.label', default: 'Telefone')}" />
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${convidadoInstanceList}" status="i" var="convidadoInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${convidadoInstance.id}">${fieldValue(bean: convidadoInstance, field: "nome")}</g:link></td>
					
						<td>${fieldValue(bean: convidadoInstance, field: "cpf")}</td>
					
						<td>${fieldValue(bean: convidadoInstance, field: "email")}</td>
					
						<td>${fieldValue(bean: convidadoInstance, field: "reserva")}</td>
					
						<td>${fieldValue(bean: convidadoInstance, field: "telefone")}</td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${convidadoInstanceTotal}" />
			</div>
		</div>
	</body>
</html>
